{%- set title="Stackable Demo Operator - Hello World!" -%}
{%- set operator_name="hello-world" -%}
{%- set operator_docs_slug="hello-world" -%}
{%- set related_reading_links=[] -%}

{% include "partials/borrowed/header.md.j2" %}
{% include "partials/borrowed/links.md.j2" %}

{% include "partials/main.md.j2" %}

{% include "partials/borrowed/footer.md.j2" %}

{% include "partials/borrowed/related_reading.md.j2" %}
