This is a an example Kubernetes operator that runs a simple nginx instance. It serves as documentation of how a Stackable Operator works and it can also be a good starting point for building a new Operator.

Unlike the other stackable Operators, this one is not installable with Helm or stackablectl, as it is only for educational purposes.

... TODO Steps to get it to run etc.


Apply the CRD

    cargo run -- crd | kubectl apply -f -

Deploy the HelloCluster:

    kubectl apply -f hello.yaml && cargo run -- run

Connect:

    kubectl port-forward svc/hello-world 8080

reachable at localhost:8080
